.minor-grid {
  stroke: lightgray;
  stroke-width: 0.2%;
}

.major-grid {
  stroke: darkgray;
  stroke-width: 0.2%
}

.pointer-capture {
  visibility: hidden;
  pointer-events: all;
  cursor: move;
}
