<!DOCTYPE html>
<html>
  <head>
    <title>Motogymkhana Course Renderer</title>
  </head>
  <body>
    <style type="text/css">
      .boundaryCircle {
          stroke: purple;
          stroke-width: 0.25%;
          stroke-dasharray: 0.2;
          fill: none;
      }
    </style>
    <div style="max-width:95vmin; max-height:95vmin; margin: 0 auto;">
      <svg viewbox="0 0 {{ viewboxExtents.x }} {{ viewboxExtents.y }}">

        <defs>
          <g id="yellow-cone">
            <circle r="1%" cx="0" cy="0" stroke="black" stroke-width="0.25%" fill="yellow"/>
          </g>
          <g id="blue-cone">
            <circle r="1%" cx="0" cy="0" stroke="black" stroke-width="0.25%" fill="blue"/>
          </g>
          <g id="red-cone">
            <circle r="1%" cx="0" cy="0" stroke="black" stroke-width="0.25%" fill="red"/>
          </g>
          <g id="red-stripe-cone">
            <circle r="1%" cx="0" cy="0" stroke="black" stroke-width="0.25%" fill="red"/>
            <circle r="0.5%" cx="0" cy="0" fill="yellow"/>
          </g>
          <g id="gate">
            <use href="#yellow-cone" x="-0.75" y="0" />
            <use href="#yellow-cone" x="0.75" y="0" />
          </g>
          <g id="start-finish-box">
            <use href="#yellow-cone" x="-0.75" y="0" />
            <use href="#yellow-cone" x="0.75" y="0" />
            <use href="#yellow-cone" x="-0.75" y="2" />
            <use href="#yellow-cone" x="0.75" y="2" />
          </g>
        </defs>

        <g>
          <!-- View boundary -->
          <line x1="0" y1="0" x2="{{ viewboxExtents.x }}" y2="0" stroke="black" stroke-width="1%"/>
          <line x1="{{ viewboxExtents.x }}" y1="0" x2="{{ viewboxExtents.x }}" y2="{{ viewboxExtents.y }}" stroke="black" stroke-width="1%"/>
          <line x1="{{ viewboxExtents.x }}" y1="{{ viewboxExtents.y }}" x2="0" y2="{{ viewboxExtents.y }}" stroke="black" stroke-width="1%"/>
          <line x1="0" y1="{{ viewboxExtents.y }}" x2="0" y2="0" stroke="black" stroke-width="1%"/>


          <!-- obstacles -->
          {% for obstacle in renderedObstacles %}
          {{- obstacle | safe -}}
          {% endfor %}

          <!-- boundaries -->
          {% for boundary in renderedObstacleBoundaries %}
          {{- boundary | safe }}
          {% endfor %}

          <!-- orientation vectors -->
          {% for orientation in renderedOrientationVectors %}
          {{- orientation | safe }}
          {% endfor %}

          <!-- course normal vectors -->
          {% for vector in renderedExitVectors %}
          {{- vector | safe }}
          {% endfor %}
          {% for vector in renderedEntryVectors %}
          {{- vector | safe }}
          {% endfor %}

          <!-- course segments -->
          {% for segment in renderedCourseSegments %}
          {{- segment | safe }}
          {% endfor %}

        </g>
      </svg>
    </div>

  </body>
</html>
