<!DOCTYPE html>
<html>
  <head>
    <title>Example Layout</title>
  </head>
  <body>
    <style type="text/css">
      .boundaryCircle {
          stroke: purple;
          stroke-width: 0.25%;
          stroke-dasharray: 0.2;
          fill: none;
      }
    </style>
    <svg
      xmlns="http://www.w3.org/2001/XMLSchema"
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xml:space="preserve"
      width="600" height="600" viewbox="0 0 40 40">

      <!-- View boundary -->
      <line x1="0" y1="0" x2="40" y2="0" stroke="black" stroke-width="1%"/>
      <line x1="40" y1="0" x2="40" y2="40" stroke="black" stroke-width="1%"/>
      <line x1="40" y1="40" x2="0" y2="40" stroke="black" stroke-width="1%"/>
      <line x1="0" y1="40" x2="0" y2="0" stroke="black" stroke-width="1%"/>

      <defs>
        <g id="yellow-cone">
          <circle r="1%" cx="0" cy="0" stroke="black" stroke-width="0.25%" fill="yellow"/>
        </g>
        <g id="blue-cone">
          <circle r="1%" cx="0" cy="0" stroke="black" stroke-width="0.25%" fill="blue"/>
        </g>
        <g id="red-cone">
          <circle r="1%" cx="0" cy="0" stroke="black" stroke-width="0.25%" fill="red"/>
        </g>
        <g id="red-stripe-cone">
          <circle r="1%" cx="0" cy="0" stroke="black" stroke-width="0.25%" fill="red"/>
          <circle r="0.5%" cx="0" cy="0" fill="yellow"/>
        </g>
        <g id="gate">
          <use xlink:href="#yellow-cone" x="-0.75" y="0" />
          <use xlink:href="#yellow-cone" x="0.75" y="0" />
        </g>
        <g id="start-finish-box">
          <use xlink:href="#yellow-cone" x="-0.75" y="0" />
          <use xlink:href="#yellow-cone" x="0.75" y="0" />
          <use xlink:href="#yellow-cone" x="-0.75" y="2" />
          <use xlink:href="#yellow-cone" x="0.75" y="2" />
        </g>
      </defs>

      <use xlink:href="#start-finish-box" x="15" y="35" />
      <use xlink:href="#start-finish-box" x="20" y="35" />
      <use xlink:href="#red-cone" x="10" y="30" />
      <use xlink:href="#blue-cone" x="12" y="25" />
      <use xlink:href="#red-cone" x="10" y="20" />
      <use xlink:href="#blue-cone" x="12" y="15" />
      <use xlink:href="#red-cone" x="10" y="10" />
      <use xlink:href="#red-stripe-cone" x="20" y="10" />
      <use xlink:href="#gate" x="25" y="22" />

      {% for boundary in obstacleBoundaries %}
        {{- boundary | safe }}
      {% endfor %}

      {% for segment in courseSegments %}
        {{- segment | safe }}
      {% endfor %}

    </svg>
  </body>
</html>
