#container {
  height: 100%;
  display: flex;
}

.item {
  border: solid 1px lightgrey;
}

#main {
  flex-grow: 1;
}

#handle button {
  height: 100%;
  background: rgba(0, 0, 0, 0);
  border: 0px;
  padding: 0px;
  outline: 0px;
}

.shown {
  display: auto;
}

.hidden {
  display: none;
}
